// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.item-wrapper {
    background-color:#E2FFC4;
}

.slide  {
    list-style-type: none!important;
    overflow: hidden;
    padding:10px 0!important;
    width: 100%;
    height:103px;
    zoom: 1;
}


.slide li{
    float:left;
    margin-left:10px;
    margin-right:10px;
}


.slide:before,
.slide:after    {
    content: " ";
    display: table;
}


.slide:after  {
    clear: both;
}

.img {
    height: 93px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}
